<h1>register</h1>
<form action="/register" method="post">
    <input type="text" name="name" id="name" placeholder="name" required>
    <input type="text" name="email" id="email" placeholder="email" required>
    <input type="text" name="password" id="password" placeholder="password" required>
    <button type="submit">Register</button>
    <a href="/login"> Login</a>
</form>